html, body {
    font-family: 'Arial';
    margin: 0;
    color: #444
}

a {
    color: #0059b2;
    text-decoration: none;
}

a:hover {
    color: #CC0000;
    text-decoration: underline;
}

img {
    width: 32px !important; 
    height: 32px !important;
    height: auto;
}

div.logo {
    margin-left: 1%;
}

.block {
    display: inline-block;
    font-size: 32px;
}

ul.mainmenu {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

ul.mainmenu li {

    float: left;
    margin-right :5px;
}

a.amenu {
    text-decoration: none;
    background:#30A8E6;
    color:#fff;
    padding:10px;
    font-family: arial;
    border-radius:4px;
}

b.percent_up {
    background: #00b058;
    color: #fff;
    padding: 10px;
    -moz-border-radius: 5px; /* Для Firefox 3 */
    -webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
    border-radius: 5px; /* Для современных браузеров */
}

b.percent_down {
    background: #be0000;
    color: #fff;
    padding: 5px;
    -moz-border-radius: 5px; /* Для Firefox 3 */
    -webkit-border-radius: 5px; /* Для Safari 4 и Chrome */
    border-radius: 5px; /* Для современных браузеров */
}

p.desc {
    margin-left: 1%;
}