{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'currency/css/style.css' %}">
</head>
<body>
    {% block mainmenu %}
    </br>
    <ul class="mainmenu">
        {% for m, h in menu.items %}
        <li><a class="amenu" href="{% url h %}">{{ m }}</a></li>
        {% endfor %}
    </ul>
    </br>
    {% endblock mainmenu %}

    {% block content %}
    {% endblock content %}
</body>
</html>