{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>{{ title }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{% static 'currency/css/style.css' %}">
</head>
<body>
    {% block icon %}
    <div class="block"><img src="{% static icon %}"></div>
    <div class="block"><h2>{{ fullname }}</h2></div>
    {% endblock icon %}
    <ul>
        {% for param, key in info.items %}
        <li>{{ param }}{{ key }}</li>
        {% endfor %}
    </ul>
    {% block description %}
    <p>{{ description }}</p>
    {% endblock description %}
</body>
</html>