{% extends 'currency/base.html' %}
{% load static %}

{% block content %}
    {% block logo %}
    <div class="logo">
        <img class="block" src="{% static icon %}">
        <h2 class="block">{{ fullname }}</h2>
    </div>
    {% endblock logo %}
    {% block info %}
    <ul style="list-style: none;">
        {% for param, key in info.items %}
            <br>
            {% if 'Изменение' in param %}
                {% if '-' in key %}
                    <li>{{ param }}<b class="percent_down">▾{{ key|cut:"-" }}</b></li>
                {% else %}
                    <li>{{ param }}<b class="percent_up">▴{{ key }}</b></li>
                {% endif %}
            {% else %}
                <li>{{ param }}{{ key }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    {% endblock info %}

    <hr>

    {% block description %}
    <p class="desc">{{ description }}</p>
    {% endblock description %}

{% endblock content %}